.page {
  display: grid;
  grid-gap: 2rem;
}

.page > h2 {
  font-size: 2.5rem;
}

.page .content {
  background-color: white;
  box-shadow: var(--bx-shd-default);
  padding: 4rem;
  display: grid;
  grid-template-columns: 30rem 1fr auto;
  grid-row-gap: 3rem;
  grid-auto-flow: row;
}

.page .content .input-container {
  grid-column: 1 / 2;
  font-size: 1.4rem;
  display: grid;
  align-items: start;
  grid-gap: 1rem;
}

.page .content .input-container > label {
  font-size: 1.6rem;
  font-family: Helvetica, Arial;
}

.page .content .input-container > input {
  padding: 0.7rem;
}

.page .content .page-table {
  grid-column: 1 / -1;
}

.page .content > .button {
  grid-column: -2 / -1;
  margin-top: 2rem;
}
